header{
    border-bottom: 1px solid gray;
    box-shadow: 1px 2px 2px 2px gray;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
header nav a{
    margin-right: 10px;
    font-size: small;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
}
header .logo{
    color: red;
    font-weight: bold;
    font-size: medium;
    padding: 1em;
}
header .logo:hover{
    background-color: red;
    color: #fff;
}
.cart{
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 2px;
    position: absolute;
}